# 服务配置
SERVER_PORT=8080

# PostgreSQL 配置
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USER=gameRecharge
PG_PASSWORD=123456
PG_DATABASE=gameRecharge
PG_SSL_MODE=disable

# Redis 配置
REDIS_ADDR=127.0.0.1:6379
REDIS_PASSWORD=
REDIS_DB=0

# RocketMQ 配置
ROCKETMQ_ADDR=127.0.0.1:9876
ROCKETMQ_GROUP=payGroup
ROCKETMQ_TOPIC=payNotify